[2022-08-19 11:54] ejini6969 commented on #129
I was about to vote on keeping `1` only but since `2` teaches extensive knowledge regarding binary operations , I'll say keep 2 too.

[2022-08-19 13:55] hobovsky commented on #102
It seems that stellartux moved the translation, so I can ask for retirement of the duplicate kata :)

[2022-08-19 16:19] KayleighWasTaken commented on #129
Keep 1 and 2, retire 3 and move PHP and Purescript from 3 to 1.

[2022-08-19 16:20] hobovsky commented on #66
Moved Ruby

[2022-08-19 18:35] Kacarott commented on #129
Keep 1, 2. Retire 3.

[2022-08-19 19:31] hobovsky commented on #117
I think we can safely conclude this set as not duplicates. We need to identify nonconformant languages in 1. and fix it.

[2022-08-19 19:32] #117 closed, assigned to nobody

[2022-08-19 19:34] monadius commented on #117
I will try to fix all languages in 1 some time next week.

[2022-08-19 20:26] hobovsky opened #130 "Deduplicate - create powerset"
Reported on wiki list of duplicates.

1. [By the Power Set of Castle Grayskull](https://www.codewars.com/kata/53d3173cf4eb7605c10001a8)
* 5kyu
* Input is a list, output is a list of lists
* 93% with 2.1k completions
* 2 pending issues
* 5 languages + 1 pending translation
* Published Jul 2014, author inactive

2. [Subsequences](https://www.codewars.com/kata/5a0127028ba91430e80000a8)
* 6kyu
* Input

[2022-08-19 20:28] hobovsky commented on #130
Both kata differ by their rank, but I don;t think 5 kyu is _much_ off. I vote to keep 1. because it requires smaller effort with moving languages, but I am fine with keeping 2. and moving languages there too.

[2022-08-19 20:51] Kacarott commented on #130
Keep 1, retire 2.

[2022-08-19 21:53] KayleighWasTaken commented on #130
1 should be kept on language coverage and completion alone. 2 is JS only with 50 completions, just retire it.

[2022-08-19 22:51] monadius commented on #127
Retire 1 because its description is copied from Codesignal. Moreover kata 2 has more languages (5 + 1 pending COBOL translation; I updated the original comment where available languages were swapped).

[2022-08-20 00:56] monadius commented on #126
Keep 2.

[2022-08-20 06:26] akar-0 commented on #125
keep 1 only.

[2022-08-20 06:28] akar-0 commented on #126
keep 2 only.

[2022-08-20 06:28] akar-0 commented on #127
Keep 2 only.

[2022-08-20 16:02] fcr-- commented on #118
Retire 1.  I had to provide an incorrect implementation in order to pass the tests in python.

[2022-08-20 16:32] fcr-- commented on #119
keep 1 only, retire 2, 3 and 4.

[2022-08-20 20:16] fcr-- commented on #93
Retire: 1, 2, 4, 5
Keep: 3, 7

6... well, a naïve greedy algorithm could result in a non-optimal partition.  For example let's look at: 400, [201, 100, 1]; where the naïve approach would result in 201×1+100×1+1×99 (101 bills), it could be split optimally with 100×4 (4 bills).  However the current test cases are designed so that the greedy algorithm works.  So for this one I think that we should ei

[2022-08-20 22:37] hobovsky opened #131 "Deduplicate - Count Words"
From #39

1. [Count words](https://www.codewars.com/kata/count-words)
* 6 kyu
* 85% with ~600 completions
* Any non-letter is a non-word character (i.e. a separator). Some words from a predetermined list should not be counted.
* no pending issues
* 2 approved languages, 2 pending translations
* Published Feb 2016, author active

2. [Count words](https://www.codewars.com/kata/570cc83df616a859440013

[2022-08-20 22:41] hobovsky commented on #131
I think that however easy/boring/dull both kata are, they are not similar enough to be considered duplicates and I would not remove any as a duplicate of another.
However, 2. is in not a really good shape and deserves retirement just because of this. Description is confusing, does not explain what "whitespace" is, tests do not check for said whitespace except two characters.

I vote to keep 1., an

[2022-08-20 23:00] hobovsky commented on #118
Kata 1. is voted for retirement, but it has some languages not available in 2. I will create a list of gaps to fill, but if any of translations turns out to be broken, not in a good state to be moved, or difficult to fix, I think we can skip it.

Any volunteers are welcome to verify and move the translations!

[2022-08-21 01:52] ejini6969 commented on #131
I agree with hobs, the rank for 2 is also abit inappropriate

[2022-08-21 02:23] fcr-- commented on #125
Both are ok for me, I'll add the Lua translation once this issue is decided.

[2022-08-21 02:44] monadius commented on #93
Keep 3 and 7.

[2022-08-21 04:29] raulbc777 commented on #118
I've seen the colors printed in the tests in Python and the red color makes a confusion. Now all the test that passed in Python have the color green. I'll check in JavaScript and Ruby

[2022-08-21 05:56] Kacarott commented on #131
Keep both, I think the premise of 2 makes a worthwhile 8kyu kata if the description (and potentially tests?) were rewritten.

[2022-08-21 07:42] Kacarott commented on #93
I agree with keeping 3 and 7

[2022-08-21 12:56] EloiseRosen commented on #124
Doing 3 gave me an eye twitch. Keep 1, retire the others.

[2022-08-21 13:25] EloiseRosen commented on #127
vote for retire 1, keep 2

[2022-08-21 13:28] EloiseRosen commented on #128
vote for retire 2

[2022-08-21 13:33] EloiseRosen commented on #125
vote for keep 1, retire 2

[2022-08-21 13:35] EloiseRosen commented on #129
vote for keep 1 and 2, retire 3

[2022-08-21 18:43] fcr-- commented on #110
I would keep 3 and 5, and retire the rest.

[2022-08-21 21:41] KayleighWasTaken commented on #131
If we're keeping just one then 1 is better, but both are different tasks. 2 needs a description/tests rewrite.

[2022-08-21 23:37] hobovsky opened #132 "Deduplicate - Nth biggest / smallest numbers"
From #39

1. [Find the 2nd largest integer in array](https://www.codewars.com/kata/55a58505cb237a076100004a)
* 7kyu
* input: array of mixed types, discard duplicates, output: second largest integer
* 89% with 1000+ completions
* 0 pending issues
* 2 languages, no pending translations
* Approved Jul 2015, author inactive

2. [Nth Smallest Element (Array Series #4)](https://www.codewars.com/kata/5a5

[2022-08-21 23:44] hobovsky commented on #132
All above kata accept sort-based solutions, so there's no real difference between requesting a second element or an nth element.

Kata 2. seems to be the most complete, but its description has to definitely be un-Zizou'ed. I;d vote to keep it.

I do not know if any of 1. or 3. deserves to be kept, but I can see how on this level it could be good to have another, similar task. If so, I'd vote to re

[2022-08-21 23:53] KayleighWasTaken commented on #132
Mixed input types are just kinda bad, either remove them from 1 or retire it. Definitely retire 3. Keep 2.

[2022-08-22 00:36] monadius commented on #132
Keep 2 only. 1 and 3 do not add much to the task: It is enough to deduplicate elements (which is a very simple task in many languages) and then check that the result contains enough element (another requirements which makes the description more complicated than necessary: return -1 in C++, return nil in Ruby, etc.).

[2022-08-22 01:43] ejini6969 commented on #132
Keep 2. Retire 1 due to annoying mixed input types and less languages, retire 3 due to over-ranked and inconsistent output types

[2022-08-22 08:39] hobovsky commented on #119
I hate kata series. They cause more problems than they're worth. They should be collections :(

[2022-08-22 09:29] hobovsky opened #133 "Deduplicate - Multiple of 3 or 5"
Reported on #39

1. [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
* 6kyu
* 88% with 275k completions
* 5 pending issues
* 35 languages + 1 pending translation
* Published Mar 2013, author active

2. [Sum of all the multiples of 3 or 5](https://www.codewars.com/kata/57f36495c0bb25ecf50000e7)
* 7kyu
* 90% with 23k completions
* 3 pending issues
* 10 languages + 6 pend

[2022-08-22 09:32] ejini6969 commented on #133
Retire 2 due to less languages and less completions

[2022-08-22 09:36] hobovsky commented on #133
Both seem to be exact duplicates, so I think it's fine to get rid of one completely. Both kata accept O(n) solutions and have no performance requirements.

Even though 2. could be better for some reasons (better rank?), I think moving over 20 languages will be difficult.

[2022-08-22 09:38] akar-0 commented on #133
Keep 1 only.

[2022-08-22 10:33] Kacarott commented on #133
keep 1, retire 2

[2022-08-22 13:48] EloiseRosen commented on #133
vote for keep 1, retire 2

[2022-08-22 14:10] EloiseRosen commented on #121
don't have a strong opinion, but retiring 1 sounds fine

[2022-08-22 14:55] EloiseRosen commented on #126
Looks like 5 is already retired. Vote for keep 1 or 2, retire the others.

[2022-08-22 22:12] hobovsky opened #134 "Deduplicate - Integer depth"
From #39

1. [Bleatrix Trotter (The Counting Sheep)](https://www.codewars.com/kata/59245b3c794d54b06600002a)
* 6kyu
* Result is the last number in the sequence of multiplies when reaching the full depth
* 93% with 770 completions
* No pending issues
* 7 languages, no pending translations (C++, PHP, TypeScript - exclusive)
* Published May 2017, author active

2. [Integer depth](https://www.codewars

[2022-08-22 22:13] hobovsky commented on #134
Both kata seem to be very similar to me, and I don;t think we need both. I also have no strong candidate to keep, so I think I'd vote to keep 2. as more complete.

[2022-08-22 23:16] hobovsky opened #135 "Deduplicate - sum of cubes"
From #39

1. [CubeSummation](https://www.codewars.com/kata/550e9fd127c656709400024d)
* 7kyu
* Cubes of all numbers between two, potentially unsorted, bounds
* 93% with 2.4k completions
* No pending issues
* 6 languages
* Published Mar 2015, author inactive

2. [Sum of Cubes](https://www.codewars.com/kata/59a8570b570190d313000037)
* 7kyu
* The range is `1...n`
* 92% with 11k completions
* No pendin

[2022-08-22 23:19] hobovsky commented on #135
Both kata accept O(n) solutions, O(1) solutions are not enforced.

I have no good idea how to handle this case. Maybe these two tasks are different enough for a 7 kyu to be kept? Maybe turn 1. into a performance kata which would reject O(n) solutions? Or maybe keep only 2. because it has more languages?

Any ideas?

[2022-08-22 23:31] monadius commented on #134
Keep 2 because it has more languages and it does not test numbers `n <= 0` (for which 1 asks to return a string).

[2022-08-22 23:44] monadius commented on #135
Keep 2 only because it has more languages. Unsorted bounds in 1 do not add much to the task.

[2022-08-23 02:30] monadius commented on #117
Tasks:

- Make sure that large interval tests are present.
- Large interval tests should not be passed with `max - min` solutions and with set-based solutions.
- Endpoints of large intervals should be in the range `[-1e9, 1e9]`.

Languages with large interval tests:

- [x] C
- [x] Clojure
- [x] COBOL
- [x] CoffeeScript
- [x] C++
- [x] Crystal
- [x] C#
- [x] Dart
- [x] Elixir
- [x] Go
- [x] Haskell

[2022-08-23 04:47] #120 closed, assigned to kazk

[2022-08-23 04:48] #102 closed, assigned to kazk

[2022-08-23 04:50] #66 closed, assigned to kazk

[2022-08-23 07:08] akar-0 commented on #134
Keep 2 only.

[2022-08-23 16:43] hobovsky commented on #121
I think that conclusion is quite clear to retire 1. and keep 2., but this means that three translation have to be moved, and the kata has quite a large scope, so any help is welcome!

[2022-08-23 16:48] hobovsky commented on #119
Kata 3. got outvoted into retirement, and since the series is not numbered anymore, it will not get broken :) A couple of translations needs to be moved into 1.

[2022-08-23 22:28] Madjosz commented on #122
[Moved Java translation](https://www.codewars.com/kumite/6305546c3226f4004b9bcd1c)

[2022-08-23 22:37] benjaminzwhite commented on #133
Keep 1, retire 2.

I love all of jhoffner's katas, they are the best!

(jhoffner has added +500 honor to your Codewars account for upvoting his kata. Make sure you delete this before copy pasting your comment on GitHub)

[2022-08-24 06:19] akar-0 commented on #133
keep 1 only

[2022-08-24 06:19] akar-0 commented on #132
keep 2 only.

[2022-08-24 06:20] akar-0 commented on #131
Keep  both an fix 2.

[2022-08-24 07:54] benjaminzwhite commented on #135
Vote keep 2 also, added "complexity" isn't really interesting in 1.

As for ideas - I thought maybe you could maybe "disguise" 1 with a question about finding how many rectangles in an n x n grid (combinatorial proof that this equals `(n+1 choose 2)**2` = sum of cubes from 1 to n) but it seems such a kata already exists:

[Number of rectangles in a grid 7 kyu](https://www.codewars.com/kata/556cebc

[2022-08-24 15:01] EloiseRosen commented on #132
vote for keep 2, retire the others

[2022-08-24 15:05] EloiseRosen commented on #135
vote for keep 2, retire 1

[2022-08-24 17:23] benjaminzwhite commented on #134
I vote keep 2 also - clearer explanation, avoids returning strings, and more complete/languages.

[2022-08-25 00:08] #122 closed, assigned to kazk

[2022-08-25 01:55] EloiseRosen commented on #134
Vote for retire 1, keep 2

[2022-08-25 08:59] hobovsky commented on #125
There's more opinions to keep 1. and retire 2., and that's fine. The 2. has some technical issues and I don't feel bad with getting it retired.

[2022-08-25 10:29] Kacarott commented on #135
Keep 2 for more languages

[2022-08-25 10:30] Kacarott commented on #134
Keep 2, more languages

[2022-08-25 10:39] Kacarott commented on #132
keep 2 and fix its description. Retire others

[2022-08-25 10:50] Kacarott commented on #71
I vote to keep 2. Enforcing O(n) in 3 seems difficult, and even then its an easy 6 at best. So between the other 2 I much prefer 2. This is also a fairly simple kata concept so I think moving/adding translations should not be difficult.

[2022-08-25 10:52] Kacarott commented on #75
I vote to keep 2 for the languages. 20 languages is just not worth losing for a slightly better rank.

[2022-08-25 16:28] KayleighWasTaken commented on #134
Keep 2, more languages and I translated it to Scala before I saw the dedup issue.

[2022-08-25 22:36] hobovsky opened #136 "Deduplicate - Remove duplicates from list"
Reported in #39

1. [Remove duplicates from list](https://www.codewars.com/kata/57a5b0dfcf1fa526bb000118)
* 8 kyu
* input is array of numbers, output is expected to keep order of appearance
* 93% with ~18k completions
* 3 pending issues
* 8 languages + 3 pending translations
* Published Aug 2016, author last active May 2022

2. [Remove Duplicates](https://www.codewars.com/kata/53e30ec0116393fe1a00

[2022-08-25 22:46] hobovsky commented on #136
Kata 4. is code golf, and I did not bother to solve it. If golfing community thinks it's OK, it can stay.

Kata 5. seems to be the most interesting, and has many languages. I think it is good to keep.

I did not solve kata 6., but it's reportedly bad enough to get rid of it.

Kata 1., 2., and 3. seem to be almost exact duplicates. If we want to keep any of them, I think 1. would be good to keep be

[2022-08-25 23:02] KayleighWasTaken commented on #136
Keep 1, 4 and 5. 2 and 3 are exact duplicates of 1, just yeet them. 1 is a good 8kyu task, 5 is a good 7kyu extension of 1. 4 is code golf so its distinct enough.

[2022-08-26 00:29] hobovsky opened #137 "Deduplicate - escape html"
Reported in #39

1. [Safen User Input Part I - htmlspecialchars](https://www.codewars.com/kata/56bcaedfcf6b7f2125001118)
* 8kyu
* 92% with ~4.4k completions
* 1 pending issue
* 7 languages
* Published Feb 2016, author active

2. [Escape HTML Markup](https://www.codewars.com/kata/52c7c425f80c299ac60003df)
* 6kyu
* 82% with ~600 completions
* No pending issues
* 1 language + 1 pending translation, a

[2022-08-26 00:36] hobovsky commented on #137
Kata 1. has many completions and more languages. Interesting thing about it is that handling of `&`  needs some additional attention. It may be considered underranked.

Kata 2 is much older. It was reported to have many issues, but it seems all were resolved. Choice of characters to replace is a little bit smaller, and there's no `&`.

Despite of being older, I'd vote to retire 2. as superseded by

[2022-08-26 02:05] #125 closed, assigned to kazk

[2022-08-26 06:15] Kacarott commented on #137
I also vote to retire 2, additionally because it is overranked.

[2022-08-26 06:30] Kacarott commented on #136
Keep only 5. It has the most languages, and is the most interesting.

Regarding the codegolf kata, this should be retired. Its limit is quite relaxed, and the technique it asks for is used extensively in the JS solutions of any other similar non-golf kata, making it no more than a duplicate in my opinion.

[2022-08-26 07:57] appsunited commented on #137
I am not sure if is the right direction to start a discussion to remove a kata, which has been completed more than 600 times. From my perspective both katas are fine and there is no reason to delete user content.

[2022-08-26 08:02] akar-0 commented on #137
Keep 1 only, first of all because it has more languages available. Though 8kyu seems underranked, it doesn't matter that much.

[2022-08-26 11:34] ejini6969 commented on #135
Keep 2 only

[2022-08-26 11:42] ejini6969 commented on #137
Retire 2, plus author gone which means maintenance can only be done from content support's side.

[2022-08-26 11:44] ejini6969 commented on #134
Keep 2 due to reasons stated above

[2022-08-26 16:50] monadius commented on #136
Keep 1 and 5. 4 is a trivial codegolf kata and its solution is a top-voted solution of 1.

[2022-08-26 18:25] #130 closed, assigned to kazk

[2022-08-26 21:27] EloiseRosen commented on #137
vote to retire 2 and keep 1 due to difference in number of languages

[2022-08-26 22:10] EloiseRosen commented on #136
I really did not like 4 and 6 and vote to retire those. I don't have strong opinions on the others.

[2022-08-26 23:45] hobovsky opened #138 "Deduplicate - Find most occurrence in array"
From #39

1. [Highest Rank Number in an Array](https://www.codewars.com/kata/5420fc9bb5b2c7fd57000004)
* 6kyu
* Return a single, the largest element with the largest count
* 92% with 11k completions
* 6 pending issues
* 8 languages + 2 pending translations
* Published Sep 2014, author inactive

2. [Most Frequent Elements](https://www.codewars.com/kata/53f103c3ef9ad4014f00013b)
* 7kyu
* Return a se

[2022-08-26 23:51] hobovsky commented on #138
I have no good candidates to retire here. All kata have identical main task, and differ when it comes to handling ties, in a way which can be potentially interesting in a low-level kata. But is it? No idea. 1. is the simplest and has most languages, 3. is (i think) the most complex.

[2022-08-27 02:03] ejini6969 commented on #136
Keep 1 && 5 due to reasons stated above

[2022-08-27 22:07] #131 closed, assigned to nobody

[2022-08-27 23:21] hobovsky opened #139 "Deduplicate - Filter even/odd numbers"
From #39

1. [JavaScript Array Filter](https://www.codewars.com/kata/514a6336889283a3d2000001)
* 7kyu
* input: array of positive integers, output: even ones
* 92% with ~18.5k completions
* No pending issues
* 13 languages (but only one of them is JavaScript), no pending translations
* Published Mar 2013, author active

2. [Are arrow functions odd?](https://www.codewars.com/kata/559f80b87fa8512e3e0

[2022-08-27 23:28] hobovsky commented on #139
Kata 1. and 3. seem to be exact duplicates.
Kata 2. is almost exact duplicate of 1. and 3., but asks for odd numbers. It could be interesting if it enforced the idea of lambdas or arrow functions, but the way it is now, it may be considered very similar to 1. and 3.

Kata 4. and 5. are bug fixing kata, so I do not think they qualify as duplicates of 1., 2., and 3., and they present an interestign

[2022-08-28 04:46] ejini6969 commented on #139
IMO keep 1 or 3. But will require transfer of 2 languages (C / C++ && CFML / Prolog) for each kept one. Retire others

[2022-08-28 14:21] Blind4Basics commented on #139
keep 3 (instead of 1, because of the title), retire all others.

[2022-08-28 14:40] Blind4Basics commented on #138
* retire 2 (no random tests / 1 language only / most basic version of the task)
* 4 is the only one that is "up to date", considering how the tests are written, so I think we should make this one survive.
* between 1 and 3, keep 1. 3 seems more artificial and has only 1 language.

Summary:
* keep 1 and 4
* retire 2 and 3

[2022-08-28 14:45] Blind4Basics commented on #136
keep 1 and 5 only

[2022-08-28 21:55] hobovsky opened #140 "Deduplicate - sum of triangular numbers"
From #39

1. [Sum of Triangular Numbers](https://www.codewars.com/kata/580878d5d27b84b64c000b51)
* 7kyu
* negative inputs should be considered invalid
* 89% with ~13k completions
* No pending issues
* 17 languages, no pending translations
* Published Oct 2016, author inactive

2. [A tetrahedron of cannonballs](https://www.codewars.com/kata/530e259c7bc88a4ab9000754)
* 6kyu
* All inputs are valid
*

[2022-08-28 22:05] hobovsky commented on #140
Kata 1. accepts O(n) solutions.
Kata 2. is most probably meant to accept only O(1) solutions, but for some reason O(n) solutions do not get consistently invalidated when I resubmit them. Either tests significantly vary between runs, or revalidation is wonky again. I also did not check performance requirements of languages other than Python. I like how it uses the term "cannonball numbers", but its

[2022-08-28 22:58] monadius commented on #140
Keep 1, retire 2. Performance requirements do not make 2 more interesting (it is trivial to google the required formula) and O(1) solutions are spoiled by 1. Moreover, JS and Python versions of 2 have no random tests.

[2022-08-28 23:11] hobovsky opened #141 "Deduplicate - Array of strings to array of numbers"
From #39

1. [Convert an array of strings to array of numbers](https://www.codewars.com/kata/5783d8f3202c0e486c001d23)
* 7kyu
* 91% with 6.7k solutions
* No pending issues
* 6 languages, no pending translations
* Published Jul 2016, author inactive

2. [Strings to numbers](https://www.codewars.com/kata/5872d6eba44cfcd500000153)
* 7kyu
* Code golf
* 85% with 350 completions
* No pending issues
* JS

[2022-08-28 23:17] hobovsky commented on #141
Technically speaking, the three kata are not strict duplicates:

Kata 1. is a "normal" task for beginners. I am concerned by inputs with string representations of floats, I am not sure if these can be easily tested for, and whether tests do it correctly.

Kata 2. is a code golf, and I think a bad one. If I was able to solve it, anyone can.

Kata 3. is bug fixing, and I do not know JS well enough t

[2022-08-29 03:34] monadius commented on #141
Keep 1 and 3, retire 2.

2 is a trivial code golf which is not interesting at all.

3 demonstrates a [textbook bug](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map#tricky_use_case) so it is not bad. I don't think that 3 is underspecified: The rounding method is given in the initial code.

[2022-08-29 04:07] akar-0 commented on #140
keep 1 only.

[2022-08-29 07:38] hobovsky commented on #141
Hey now reading about this, the bug presented in 3. is actually cool!

[2022-08-29 10:27] Kacarott commented on #141
Agree with keeping 1 and 3. Retire 2

[2022-08-29 10:29] Kacarott commented on #140
Keep 1, retire 2

[2022-08-29 10:38] Kacarott commented on #139
Retire 1, 2, 5. Keep 3.

Regarding 4, I like the bug which is featured and so would be inclined to keep it. Although perhaps this kind of bug is already featured in another kata, I am not sure.

[2022-08-29 10:57] Kacarott commented on #138
I vote to keep 1 based on having the most languages. Retire the rest

[2022-08-29 15:37] hobovsky opened #142 "Deduplicate - Church numerals"
From wiki list of duplicates.

1. [Church numbers](https://www.codewars.com/kata/church-numbers-1)
- 4 kyu
- Requested operations are `add`, `mul`, `pow`. Numbers are two-argument uncurried functions. Provides some helpers to convert between Church and int.
- 94% with 170+ completions
- 1 pending issue
- 1 language (JS), 1 pending translation (C++)
- Published Nov 2014, author active

2. [Church n

[2022-08-29 15:53] Kacarott commented on #142
1 and 2 are abominations which require un-curried arguments. Number 4 is horrendously overranked and essentially has the solution in the description.

Therefore I vote to keep 3 and 5, retire the rest.

Edit: Another idea would be to retire all of them, and create new kata with *all* operations. Or convert either 3 or 5 to use all operations.

[2022-08-29 18:37] EloiseRosen commented on #140
vote for keep 1, retire 2

[2022-08-29 18:51] EloiseRosen commented on #139
Bug fixing kata:  vote for retire 5, keep 4
Non-bug-fixing kata:  vote for retire 1 and 2, keep 3

[2022-08-29 20:42] JohanWiltink commented on #142
Kill off 1, 2, 4; keep 3, 5.

I see no harm in keeping the current 3 and 5; also, authoring PS translations was _not_ fun when I did it - _I_ won't do it again.

_All_ are overrated, but I don't see much harm in that either - lure people in with cheap points. 😋

[2022-08-29 20:56] JohanWiltink commented on #142
Note that 3 and 5, in their JS versions, require LC syntax. Haskell and PS syntax already is reasonably close to LC syntax, though some sugar is available there.

4 is the only one to have Python. A syntax checker for Python is available on some other LC kata ( :carrot: wrote that ); 3 and 5 ( if those are kept ) might benefit from a Python translation with syntax check. Python lambdas are quite s

[2022-08-29 21:46] lsnbr commented on #142
Keep 3 and 5, same reasons as already said

[2022-08-30 01:21] #133 closed, assigned to kazk

[2022-08-30 01:22] #135 closed, assigned to kazk

[2022-08-30 11:23] hobovsky opened #143 "Deduplicate - sum integers in string"
From #39

1. [Sum of integers in string](https://www.codewars.com/kata/598f76a44f613e0e0b000026)
* 7kyu
* Numbers are separated by letters and non-digits
* 92% with ~5k completions
* 2 pending issues, one about being a duplicate of 2.
* 12 languages + 4 pending translations
* Aug 2017, author inactive

2. [Sum up the random string](https://www.codewars.com/kata/55da6c52a94744b379000036)
* 7kyu
* N

[2022-08-30 11:26] hobovsky commented on #143
Kata 1., 2., and 4. seem to be exact duplicates and are slightly more demanding than the rest. I think 1. would be the best to keep due to amount of languages.
Kata 5. is similar to above, but numbers are always 1-9, and output must be formatted in a simple way.  Is it sufficiently different for a white kata? I think it's not, I'd vote to retire it.
Kata 3. and 6. are very similar to each other as

[2022-08-30 13:55] Blind4Basics commented on #143
keep 1, retire all others. They are all too much similar (when not nearly identical)

[2022-08-31 10:42] Kacarott commented on #143
I think it is better to sort these kata by the solution required:
- Kata 1 & 2 require some form of parsing (probably regex) before summation
- Kata 3 & 6 merely require splitting on a fixed delimiter
- Kata 4 & 5 require splitting on a fixed delimiter, but requires an additional filter for non-numbers

Based on this, I think that the first group is sufficiently different from the rest, to warrant

[2022-08-31 11:28] Yang-Wei-Ting commented on #136
Vote to retire 6. The reason is the same as the above mentioned.

[2022-09-01 03:31] EloiseRosen commented on #143
keep 1 and 5 only sounds good to me

[2022-09-01 10:27] Madjosz commented on #90
Reading the descriptions of 2 & 3 I already lose the interest to solve them.

[2022-09-01 14:35] EloiseRosen commented on #138
vote for keep 1

[2022-09-02 03:46] EloiseRosen commented on #141
retire 2, keep the others sounds good

[2022-09-02 12:20] Chrono79 commented on #99
@kazk could you run a query to get a list of PHP katas that use assertEquals to check them?

[2022-09-02 18:44] suic86 commented on #140
keep 1, retire 2

[2022-09-03 07:46] heroicfun commented on #136
its kata is possible duplicate of:
https://www.codewars.com/kata/54e6533c92449cc251001667
because, description says that order in deduplicated array stay the same

[2022-09-03 07:54] heroicfun commented on #136
about my opinion: i think we should stay 1 and 5, because 1 has many completitions and 5 has good language coverage

[2022-09-05 07:58] hobovsky commented on #136
We keep 1. and 5. then.

[2022-09-05 08:08] hobovsky commented on #137
Decision seems to be clear: despite of being older, kata 2. will be retired as superseded by 1.

[2022-09-05 10:06] hobovsky opened #144 "Deduplicate - Shortest/longest word"
From #39

1. [Thinkful - List Drills: Longest word](https://www.codewars.com/kata/58670300f04e7449290000e5)
* 7kyu
* input is an array of words. Find length of longest word.
* 92% with 5k completions
* 2 pending issues
* 8 languages + 1 pending translation
* Published Dec 2016, author inactive

2. [Shortest Word](https://www.codewars.com/kata/57cebe1dc6fdc20c57000ac9)
* 7kyu
* input is a string, f

[2022-09-05 10:11] hobovsky commented on #144
Kata 1. boils down to map + reduce. Kata 2. is a bit more complex, and generally is split + map + reduce. Out of the two, I think we do not need to have both, and that 2. is better to keep than 1. Let's keep 2. and retire 1. I did not check if tests in 2. are affected by potential bugs related to handling of consecutive spaces.

Kata 3. is bug fixing, and I think it has its place. I am not sure ab

[2022-09-05 10:13] ejini6969 commented on #144
Keep 2, retire rest due to solutions can be copied from 2 with a minor tweak in the specific function used

[2022-09-05 10:22] Kacarott commented on #144
In addition to hobovsky's reasoning, 2 has very many languages, so I vote to retire 1. Keep 2 and 3.

[2022-09-05 11:15] hobovsky opened #145 "Deduplicate - sum of digits"
Originally reported on #39

1. [Sum of Digits / Digital Root](https://www.codewars.com/kata/541c8630095125aba6000c00)
* 6kyu
* Calculate digital root
* 90% with ~190k completions
* 2 pending issues
* 29 languages + 2 pending translations
* Published Sep 2014, author inactive

2. [Life Path Number](https://www.codewars.com/kata/5a1a76c8a7ad6aa26a0007a0)
* 7kyu
* Calculate digital root. Input is a f

[2022-09-05 11:26] hobovsky commented on #145
Kata 1., 2., and 3., all ask for a digital root. Kata 2. requires a bit of preprocessing, and kata 3. makes O(1) solutions tricky. Still, I am not sure if we need all of them, I would be fine with keeping only 1.

I am not sure if kata 5. is a duplicate of 1., because the task is slightly different. Maybe on this level of difficulty it might be worth keeping?
Kata 4. is annoying with its requireme

[2022-09-05 11:31] ejini6969 commented on #145
Keep 1, 5. Retire the rest due to annoying input validation or solutions that can be directly retrieved (with a minor tweak, if any) from 1 or 5.

[2022-09-05 13:30] hobovsky opened #146 "Deduplicate - partitioning a string to odds & evens indexed"
Originally reported with #39

1. [Simple transposition](https://www.codewars.com/kata/57a153e872292d7c030009d4)
* 6 kyu
* 91% with 2.8k completions
* 1 pending issue
* 7 languages + 2 pending translations (Groovy, Haxe not covered by 2.)
* Aug 2016, author inactive

2. [Odd-Even String Sort](https://www.codewars.com/kata/580755730b5a77650500010c)
* 7 kyu
* 93% with 8.6k+ completions
* 1 pending is

[2022-09-05 13:34] hobovsky commented on #146
Both kata are duplicates with a very minor difference w.r.t. minimal formatting of the answer in 2.
I think it will be better to keep kata 2. as more complete.
Please note that rank is not a very good guideline in case of this kata, because difficulty of the task can differ between languages: in some it will be a simple one-liner, in others characters have to be partitioned "manually".

[2022-09-05 13:38] ejini6969 commented on #146
Keep 2 due to higher completion and more languages

[2022-09-05 14:34] Blind4Basics commented on #144
keep 2 only

[2022-09-05 17:08] Kacarott commented on #146
Keep 2, retire 1

[2022-09-05 17:20] Kacarott commented on #145
Keep 1 and 5

[2022-09-06 21:16] EloiseRosen commented on #144
Vote to retire 1, keep 2. Don't have a strong opinion on 3.

[2022-09-06 21:33] benjaminzwhite commented on #144
Vote keep 2 only also -- in which case, small suggestion: add a clear definition of what a "word" is, because most of the questions/problems people have in discourse are due to being unclear on these kind of examples:

- `Let's` (this is treated as a word of length 5 - lots of peoples' solutions are treating this as being length 3) and
-  `21inc` (contains numeric chars, is considered as a word of

[2022-09-06 21:55] benjaminzwhite commented on #145
Keep 1. Retire 2,3,4 agree with ejini.

I vote retire 5 - it's just 1 with abs() added, unless this is particularly interesting/challenging in other languages?

I personally like the 7-8 kyu debug katas like 6; sure you can discard the initial code but it's the kind of thing I'd like to solve when starting a new language. Also, if you solve it the "noob way" and it you then read about "smart way"

[2022-09-07 05:29] #136 closed, assigned to kazk

[2022-09-07 05:30] #141 closed, assigned to kazk

[2022-09-07 05:33] #140 closed, assigned to kazk

[2022-09-07 05:36] #137 closed, assigned to kazk

[2022-09-07 05:55] kazk commented on #99
Ugh, we have 824 kata matching `this->assertEquals`.

Is there a reason to use `assertEquals`? I can replace with `assertSame` and test it before saving the change.

[2022-09-07 19:22] EloiseRosen commented on #146
Vote for keep 2, retire 1

[2022-09-07 22:22] EloiseRosen commented on #145
note that 5 also requires only 1 application of the summing process (99 -> 18 and stops there), while 1 requires continuing until the result has a length of 1. Not that that makes it interesting or necessarily worth keeping.

keep 1, idk about 5, retire the others

[2022-09-08 13:40] Blind4Basics commented on #128
well, 1 is the captcha for subscription to CW, so it cannot be retired in any way anyway x)

retire 2, ofc.

[2022-09-08 18:50] #128 closed, assigned to kazk

[2022-09-08 20:21] KayleighWasTaken commented on #143
Keep 1, 3, 5 I think?

3 is the least attractive to keep, maybe rerank it as 8kyu if that's possible?

[2022-09-13 16:10] hobovsky opened #147 "Deduplicate - Case swapping"
From #39

1. [Case Swapping](https://www.codewars.com/kata/5590961e6620c0825000008f)
* 7 kyu
* letters and digits as inputs
* 92% with ~6.5k completions
* No pending issues
* 7 languages, no pending translations
* Published Jun 2015, author active

2. [altERnaTIng cAsE <=> ALTerNAtiNG CaSe](https://www.codewars.com/kata/56efc695740d30f963000557)
* 8 kyu
* ~~Only letters as inputs~~ letters and dig

[2022-09-13 16:13] hobovsky commented on #147
All kata are very similar, 2. is the simplest (requires no filtering), kata 1., 3., and 4. require one or two additional conditions (or not).

I think that 2. would be good to keep as the most complete. I am not sure if we need to keep any of 1., 3., and 4., and if we do, which one.

[2022-09-13 16:24] ejini6969 commented on #147
Keep 2 only since 1. and 3. solutions can be copied to pass 2. As for 4., it's just adding an extra conditional statement or using same regex concept, so it can be retired too ! (EDIT: In JS && CS version of 2, prototyping is used which adds as an extensive feature compared to other katas)

[2022-09-13 16:33] hobovsky commented on #90
Conclusion is very clear to get rid of 2. and 3., and keep 1.
All languages are covered by 1., so there is nothing to be moved.

[2022-09-13 16:46] hobovsky commented on #110
Everyone seems to agree to keep 5., so it will stay.
There are two votes to keep 3., that's why I think it would be worth keeping.
No other kata got a vote to stay, I will ask for retirement.

[2022-09-13 17:07] benjaminzwhite commented on #147
Agree with keeping 2 only; most complete, good kyu ranking, and also best explanation/examples in kata description.

[2022-09-13 23:27] #90 closed, assigned to kazk

[2022-09-14 09:40] heroicfun commented on #147
vote for keep 2, retire any

[2022-09-14 10:40] hobovsky opened #148 "Deduplicate - sum of vararg list"
From #39

1. [Unlimited Sum](https://www.codewars.com/kata/536c738e49aa8b663b000301)
* 7kyu
* Omit non-numeric arguments
* 89% with ~4.5k completions
* 2 pending issues
* 3 languages, no pending translations
* Published May 2014, author inactive

2. [Sum of numerous arguments](https://www.codewars.com/kata/55c5b03f8c28da9a51000045)
* 7kyu
* return -1 if arguments contain negative numbers
* 93% wit

[2022-09-14 11:04] hobovsky commented on #148
From all the kata, I vote to keep 3. as the most complete and cleanest. Retire 1. and 2., because they have fewer languages, and additional requirements are more annoying rather than interesting.

Fortunately, all translations stick to the idea of users having to define var args by themselves (except for C, but I think for C it's OK), but maybe it would be worth to spell out this aspect explicitly

[2022-09-14 11:10] Kacarott commented on #147
Keep 2

[2022-09-14 11:13] Kacarott commented on #148
Agree with keeping 3

[2022-09-14 18:05] Madjosz opened #149 "Kata trail: Escape the Mines !"
5kyu kata [Escape the Mines !](https://www.codewars.com/kata/5326ef17b7320ee2e00001df) is a kata from 2014-08-13 and should be retired because of the following reasons:

* standard path-finding kata, so a duplicate
* no random tests in any language (JS, Haskell, Python, Ruby and pending Java)
* IMO `map` input is transposed to natural perception. This makes it difficult to guess what "right", "lef

[2022-09-14 18:58] hobovsky commented on #149
There is 6 pending issues about botched design, setup, and implementation. I agree with retiring, especially that there are many pathfinding kata already.

[2022-09-15 11:19] error256 commented on #147
2 has digits as well.

[2022-09-15 11:22] hobovsky commented on #147
... and how did I miss this? :|

[2022-09-15 19:17] Blind4Basics commented on #149
I believe it's the one where you have to check neighbors in a specific order to actually pass the tests, no? If not, we should retire that other one as well (once someone finds it again...)

[2022-09-15 20:17] hobovsky commented on #149
I am not sure if this is one is the kata you remember, but there's [this comment](https://www.codewars.com/kata/5326ef17b7320ee2e00001df/discuss/javascript#54afa4ac56f22dab8200066a):

[2022-09-15 22:09] #126 closed, assigned to kazk

[2022-09-15 22:11] #132 closed, assigned to kazk

[2022-09-15 22:12] #127 closed, assigned to kazk

[2022-09-16 19:24] #110 closed, assigned to kazk

[2022-09-17 01:31] EloiseRosen commented on #147
vote for keep 2, retire the others

[2022-09-18 07:07] hobovsky commented on #149
With 9 x :-1: I think the conclusion is clear and the kata is good to get rid of.

[2022-09-19 09:11] KayleighWasTaken commented on #148
Keep 3.

[2022-09-19 12:02] hobovsky opened #150 "Deduplicate - Remove or transform vowels"
From #39

1. [Disemvowel Trolls](https://www.codewars.com/kata/52fba66badcd10859f00097e)
* Remove all vowels
* 7kyu
* 89% with 223k+ completions
* 2 pending issues
* 23 languages + 5 pending translations
* Published Feb 2014, author inactive

2. [All Star Code Challenge #3](https://www.codewars.com/kata/58640340b3a675d9a70000b9)
* Remove vowels, input only lowercase
* 7kyu
* 92% with 3k completion

[2022-09-19 12:11] hobovsky commented on #150
I think kata here can be separated in separate groups:

- Remove vowels: out of kata 1., 2., and 3., I think the 1. would be best to keep due to the most languages. I'd vote to retire 2. and 3.
- Change vowels to some character: I like kata 5. a bit more than 4. because it's more generic, but I think that keeping 4. will be better because it has many more languages.
- Kata 6., as dull as it is, is

[2022-09-19 12:23] KayleighWasTaken commented on #150
Keep 1, 5, and 6. Retire 2, 3, and 4.

For reasoning, see hobs comment. (I don't think that retiring 6 is in scope of this issue).

[2022-09-19 13:20] EloiseRosen commented on #150
vote for keep 1, 4, and 6, retire the others

[2022-09-19 13:32] ejini6969 commented on #150
Keep 1 and 4 only, retire the rest! There's too many string substitution or replacement katas in the site and losing 6. adds no harm to the community (Except the author maybe :-)~~

EDIT: Owh wait, author long gone alr ^_^ (no harm whatsoever now ~~

[2022-09-19 15:35] hobovsky opened #151 "Deduplicate - Number of values required before reaching a limit"
From #39

**Number of values required before value overflow**

1. [Computer problem series #1: Fill the Hard Disk Drive](https://www.codewars.com/kata/5d49c93d089c6e000ff8428c)
* 7kyu
* Items should be consumed in order of appearance
* 92% with 4.8k completions
* 1 pending issue about being a duplicate of 2.
* 18 languages
* Published Aug 2019, author active

2. [List of Presents](https://www.code

[2022-09-19 15:39] hobovsky commented on #151
Kata 1. differs from 2. and 3. only in terms of order of consumed elements.

I think that all kata are similar enough to pick 3. as one with the most languages. What I did not check is whether any kata makes it possible to fit a whole input array below the required threshold, because this would require one additional condition in logic.

[2022-09-19 16:54] hobovsky commented on #144
There's 5 opinions to retire 3. vs. 2 opinions to keep it, so I think it's good to go.
1 is unanimously retired, and 2. is kept.

[2022-09-19 21:37] benjaminzwhite commented on #151
I had seen _"Zizou style"_ mentioned in a few places on Discord/CW but I never understood what it meant until now - I feel like I've learnt about some esoteric CodeWars lore.

In Python at least, Kata 1 **does** have such fixed tests where the whole input array sum is less than the threshold. Kata 3 **does not** have such fixed tests.

Also Kata 3 - bizzarely - wants the number of operations, rath

[2022-09-19 22:05] benjaminzwhite commented on #150
Agree with keep 1 and 4 based on hobovsky's reasoning. Agree retire 2,3,5.

Agnostic about 6 - but tend to agree with ejini about being r u t h l e s s (there's a comment in the discourse with someone saying "how many vowel katas are there on CW?" so...)

[2022-09-19 23:00] #148 closed, assigned to kazk

[2022-09-19 23:01] #149 closed, assigned to kazk

[2022-09-19 23:37] EloiseRosen commented on #151
1 and 2 test the whole array fitting below the threshold, 3 doesn't.

Given this, I think 1 or 2 are better to keep than 3, and from those 1 is better due to language count.

In summary: vote for keep 1, retire the others

[2022-09-20 07:47] lsnbr commented on #151
I also vote to keep 1. The description is clearer, I like the theme more and it has tests with the whole array fitting. Also 18 languages is not much less than 20

[2022-09-20 10:31] ejini6969 opened #152 "Kata trial: Array.diff hero"
[Array.diff hero](https://www.codewars.com/kata/581fc49b55c3d2d83c0000f8) should be retired due to the following reasons:

* Solution can be directly retrieved from [Array.diff](https://www.codewars.com/kata/523f5d21c841566fde000009/javascript)
* JS only
* Over-ranked at 5kyu
* Still using `Test.expect`
* Stuck in Node V.10 to V.14 update

React 👍 to keep or👎 to retire.

[2022-09-20 20:04] hobovsky commented on #145
Since there are recurring opinions to keep 5., I think it's good to keep together with 1.

[2022-09-20 20:59] hobovsky commented on #139
Everyone seems to agree to keep 3. for the non-bug fixing kata. From the other group, no one wants to save 5.
I am still not sure what to do with 4, if there will be no more votes to retire it, I think we will keep it.

[2022-09-21 12:01] Yang-Wei-Ting commented on #39
These two are duplicates

I love big nums and I cannot lie https://www.codewars.com/kata/56121f3312baa28c8500005b

Largest Number Arrangement https://www.codewars.com/kata/59d902f627ee004281000160

[2022-09-21 15:06] hobovsky commented on #39
Thanks for the report, I added the kata to wiki list of duplicates and created a draft of a deduplication issue.

[2022-09-21 23:25] #134 closed, assigned to kazk

[2022-09-22 20:50] hobovsky commented on #138
No one wanted to keep 2. or 3., so they get retired.
Everyone agreed to keep 1., so it stays.
There is some opinions to keep 4., so it stays.

[2022-09-23 03:22] #138 closed, assigned to kazk

[2022-09-23 11:50] Yang-Wei-Ting commented on #39
These two are very similar:

Simple Fun # 132: Number Of Carries https://www.codewars.com/kata/58a6568827f9546931000027
(Two numbers can have different length)
(More language)

Elementary Arithmetic - Carries Count https://www.codewars.com/kata/529fdef7488f509b81000061

[2022-09-23 12:18] hobovsky commented on #39
Added to [wiki list of duplicates](https://github.com/codewars/content-issues/wiki/List-of-Possible-Duplicate-Kata#number-of-carries).

[2022-09-26 22:12] #98 closed, assigned to kazk

[2022-09-26 22:12] #124 closed, assigned to kazk

[2022-09-26 22:13] #144 closed, assigned to kazk

[2022-09-27 09:31] Kacarott commented on #151
I agree with keeping 1 and retiring the others

[2022-09-27 18:36] CodingComrade opened #153 "Retire - Pole Vaulting Starting Marks"
https://www.codewars.com/kata/5786f8404c4709148f0006bf

This kata is an excellent linear algebra problem, but I don't think it's an appropriate coding challenge as the focus is more on understanding a mathematical formula rather than programming fundamentals. These kinds of katas could discourage beginners. Maybe it could be rewritten to include the formula. As it stands right now, even someone th

[2022-09-27 18:46] hobovsky commented on #153
This kata has been discussed already a couple of times and i always argued to keep it. I think its a good task which can be solved with a computer. I will try to find some opinions i wrote on it and add them here.

Maybe the kata could be improved in some way, but I definitely think it does not deserve retirement just because it's related to algebra, or any other math topic.

[2022-09-27 20:36] hobovsky commented on #153
Oh, it seems this discussion is a duplicate of https://github.com/codewars/content-issues/issues/106 .  I am going to close this one as a duplicate, and if you want to continue, please post on #106 and then I will reopen it for further discussion.

[2022-09-27 20:36] #153 closed, assigned to nobody

[2022-09-28 18:12] Chrono79 commented on #71
What I don't like from 2, it's some languages use Prototype and some others don't, making the shared rank unfair.

[2022-09-28 18:13] Chrono79 commented on #147
What I don't like from 2, it's some languages use String.Prototype or Class methods and some others don't, making the shared rank of 8 kyu unfair.

[2022-09-29 04:19] RealSup commented on #114
I vote to keep 2 and 5, because it different by difficulty. And I suggest adding in 2 link to 5

[2022-10-01 14:08] benjaminzwhite commented on #95
Just solved this, and agree with retiring -  sqrt(n) trial division for 5 kyu...

The obvious fix to "test methods rather than results" would have been to require users to actually return:

`all the coefficients of the polynomial expansion of (x − 1)^p − (x^p − 1)` which is a bit more challenging at least.

[2022-10-09 22:05] hobovsky commented on #150
Almost everyone agrees with keeping 1. and 4. and retiring 2., 3., and 5.
I have totally no idea what to do with 6. I will leave it as inconclusive for now, and maybe there will be some more opinions before remaining translations get moved and the issue gets closed.

[2022-10-10 19:17] #118 closed, assigned to kazk

[2022-10-10 19:19] #101 closed, assigned to kazk

[2022-10-11 20:32] hobovsky opened #154 "Deduplicate - get numbers / non-numerics from string"
From #39

1. [Filter the number](https://www.codewars.com/kata/55b051fac50a3292a9000025)
* 7 kyu
* Filter out non-digits. Result is of a numeric type.
* 94% with ~10k completions
* 1 pending issue
* 9 languages (C++, Java, NASM not covered by 2.)
* Published Jul 2015, author inactive.

2. [Get number from string](https://www.codewars.com/kata/57a37f3cbb99449513000cd8)
* 8 kyu
* Filter out non-digi

[2022-10-11 20:35] hobovsky commented on #154
Kata 1. and 2. are exact duplicates, and I think 1. is a bit better to keep than 2. I vote to keep 1. and retire 2.

Kata 3. and 4. were reported on the list of dupes by ejini, but I don't think they are close enough duplicates to be in scope of this issue. I think both can be kept.

[2022-10-11 20:43] KayleighWasTaken commented on #154
Agree with hobs. Keep 1, 3, 4; Retire 2

[2022-10-11 21:07] hobovsky opened #155 "Deduplicate - multiply elements in array"
From #39

1. [Beginner - Reduce but Grow](https://www.codewars.com/kata/57f780909f7e8e3183000078)
* 8kyu
* all inputs valid
* 92% with ~66k completions
* 1 pending issue
* 25 languages, no pending translations
* Published Oct 2016, author active

2. [Product of Array Items](https://www.codewars.com/kata/5901f361927288d961000013)
* 7kyu
* `null` input or empty array are considered invalid and shoul

[2022-10-11 21:09] hobovsky commented on #155
I think that even on this difficulty level, two identical tasks which differ only by validation of input are rather annoying than useful. It would not hurt to keep only 1. and get rid of 2.

[2022-10-11 21:21] CiprianAmza commented on #155
Even if they do pretty much look similar, validation of input (especially at 7 kyu) may be something useful. I would suggest to keep both of them. If one of them has to be removed, I would keep the second one, because of the validation input (which is most probably better for 7 kyu than for 8 kyu).

[2022-10-11 21:22] Blind4Basics commented on #155
but there are more languages in the 8kyu (and 8kyu is fine without the (boring) validation, I guess)

[2022-10-11 21:23] EloiseRosen commented on #155
Vote for keep 1, retire 2 (language count, and I don't like the input validation personally)

[2022-10-11 21:24] CiprianAmza commented on #155
Right, more languages is an important fact. Then I also think that keeping the first would fit better. Still, I would keep both, if possible.

[2022-10-11 21:24] CiprianAmza commented on #154
1 and 2 are exact duplicates (same solution pass both katas). I vote to retire the second (because it has 3 issues).

The 3rd one is the opposite of the first two, I see no reason to be retired, since it's not a duplicate. Same as both of you: retire 2, keep 1, 3, 4.

[2022-10-11 21:29] EloiseRosen commented on #154
retire 2, keep the others sounds fine

[2022-10-11 21:37] hobovsky opened #156 "Deduplicate - uppercase vowels"
From #39

1. [Uppercase all vowels](https://www.codewars.com/kata/57a1e23853ba339caf001000)
* 7kyu
* 81% with 170+ completions
* 2 pending issues
* 2 languages, no pending translations, no overlap with 2.
* Published Aug 2016, author inactive.

2. [Changing letters](https://www.codewars.com/kata/5831c204a31721e2ae000294)
* 7kyu
* 91% with 3.3k+ completions
* 3 pending issues
* 6 languages, no pend

[2022-10-11 21:38] hobovsky commented on #156
Both kata seem to be exact duplicates and could be merged. I propose to keep 2., move translations from 1. to 2. because it's fewer of them, and finally retire ~~2~~ 1.

[2022-10-11 21:46] CiprianAmza commented on #156
First one is Haskell/F# only, while the second one has no Haskell/F# translation. Retiring first and moving the two translations to the second one?

[2022-10-11 21:57] EloiseRosen commented on #156
you mean finally retire 1?

[2022-10-11 21:57] EloiseRosen commented on #156
vote for retire 1, keep 2, due to language count

[2022-10-11 23:52] KayleighWasTaken commented on #156
more sensible to retire 1 and keep 2 in my opinion

[2022-10-12 16:46] hobovsky commented on #114
I think that:

- keeping 2. and 5.,
- retire 1., 3., 4., and 6.

will be a conclusion closest to above opinions.
I think I will also remove the restriction on 5., because it's difficult to enforce consistently between languages, and does not really help much in this kata anyway.

[2022-10-12 21:02] #63 closed, assigned to kazk

[2022-10-12 21:04] #114 closed, assigned to kazk

[2022-10-12 21:05] #146 closed, assigned to kazk

[2022-10-12 21:30] hobovsky opened #157 "Deduplicate - Morse decoder"
1. [Decode Morse](https://www.codewars.com/kata/54b0306c56f22d0bf9000ffb)
* 6 kyu
* 88% with ~1k completions
* 3 pending issues, 2 about being a duplicate
* 3 languages
* Published Jan 2015, author inactive

2. [Decode the Morse code](https://www.codewars.com/kata/54b724efac3d5402db00065e)
* 6 kyu
* 89% with 88k completions
* 2 pending issues
* 23 languages, 2 pending issues
* Published Jan 2015,

[2022-10-12 21:32] hobovsky commented on #157
The kata are almost exact duplicates, solutions differ by a single space and a name of a preloaded variable.

I vote to keep 2. as more complete, and retire 1. as duplicate.

[2022-10-14 09:07] hobovsky opened #158 "Retire " -Reverse it, quickly!""
Kata: [-Reverse it, quickly!](https://www.codewars.com/kata/59ae589c07157afba80000a7/).

I think this kata is bad and should be removed because:
- It's code golf.
- It relies on an erroneous implementation and malformed implementation of comparer function which is not, and has never been, guaranteed to work.
- It prevents update of Node to newer version. The kata is Node 8 only and does not work w

[2022-10-14 09:10] nuoliveira commented on #158
There exists already one with a valid approach: [The soul of wit: reverse an array](https://www.codewars.com/kata/59b81886460387d8fc000043)

[2022-10-14 09:18] B1tsTM commented on #158
Because the kata relies on old version of Node, it cannot ever be updated, and so it should be retired eventually.

Correction: it doesn't appear to be affected by updating to later node version, but it only works with small arrays. Despite that, it can be considered a duplicate kata.

[2022-10-14 09:24] hobovsky commented on #158
So basically fixing the kata by changing to another approach would make it a duplicate, right?

Thanks for this input.

[2022-10-14 11:28] hobovsky opened #159 "Retire "Arbitrary-Length Integer Arithmetic""
Kata: [Arbitrary-Length Integer Arithmetic](https://www.codewars.com/kata/530e69ae72d6dfced0000a9e)

The kata asks about implementation of operations which are all now available with native `BigInt`. In general, only JavaScript translation could be removed, but since the kata is JS-only (plus an unapproved CoffeeScript translation), it can be removed as a whole.

It is also reportedly possible to

[2022-10-14 14:38] ejini6969 commented on #1
Already retired

[2022-10-14 15:06] Chrono79 commented on #99
I have my doubts about objects, if they're primitives, then assertSame is the way to go. Could we have a list of those katas?

Or.... we could replace and then fix only those that become broken.

[2022-10-14 19:44] #159 closed, assigned to kazk

[2022-10-14 19:56] #158 closed, assigned to kazk

[2022-10-14 22:48] kazk commented on #99
These failed to update:

1. [A Rule of Divisibility by 7](https://www.codewars.com/kata/55e6f5e58f7817808e00002e/php)
1. [Area of a Square](https://www.codewars.com/kata/5748838ce2fab90b86001b1a/php)
1. [Area of an arrow](https://www.codewars.com/kata/589478160c0f8a40870000bc/php)
1. [Binary Genetic Algorithms](https://www.codewars.com/kata/526f35b9c103314662000007/php)
1. [Brainfuck Translator](h

[2022-10-14 23:21] benjaminzwhite commented on #155
Important point for kata 1 - in Python there is no test for empty input list `[]`.

This is important because, if users use `from math import prod` (available only since Python 3,8) then, somewhat counter-intuitively, the returned result of `prod( [] )` is actually `1` because the default start value of `prod` is `1`.

So in Python at least, if you keep kata 1, there should be a fixed test with `[

[2022-10-14 23:35] hobovsky commented on #155
[Vacuous product](https://en.wikipedia.org/wiki/Empty_product) is difficult.
Also, the kata description explicitly states "non-empty array".

[2022-10-15 09:29] benjaminzwhite commented on #157
I voted to keep 2, but noticed that in Python there are no random tests whatsoever.

**updates:**
- Python fork with random tests and new test framework approved by B4B, issue closed on kata page.
- I removed "Decode the Morse Code" from main list of kata to update.

~~I therefore created a fork, which adds random tests and updates to new Python test framework:~~

~~[Link to Issue raised on kata d

[2022-10-16 02:42] ejini6969 commented on #152
Opinion from Kayleigh on retirement -> https://discord.com/channels/846624424199061524/1021730541034283018/1030493915566055464

[2022-10-16 11:37] error256 commented on #152
There's no open kata issue to notify the author and whomever else about this trial process, is this normal these days? Additionally,

This by itself doesn't require retiring, what about fixing the tests?..

Since when is a rank a reason to retire?

The fix is trivial: https://www.codewars.com/kumite/634b6c67d225c000237a9beb

[2022-10-17 11:18] Kacarott commented on #152
Fix has been approved, so the last two points of original post are irrelevant.

Do you mean that the "standard" solution to the harder kata is not the expected solution? Or that the easier kata should reject solutions which are too fast?

[2022-10-17 11:56] error256 commented on #152
In this kata `0 ≤ x ≤ 25`, that's the point of the kata. Solutions with a `Set` are about 2 times slower than the most naive of specialized solutions and much slower than better ones. But random number generation in the tests is slow as well, so input generation for the random tests will probably have to be changed in some way to test performance. And since the difference in performance isn't huge

[2022-10-17 12:00] Kacarott commented on #152
Oh interesting, then the point of the kata had been lost on me (and presumably, many other users). I don't think I even noticed the number range restriction. In that case, I would support fixing the kata rather than retiring, if possible.

[2022-10-17 21:51] JohanWiltink commented on #152
That point had been lost on me as well. Yes, there are performance gains to be had by micro-optimising. I'm a bit torn if that's worth a kata though. If so, it needs _very_ discerning tests, a rather specific description, and a reference solution _and_ a solution that Should Not Pass ( possibly several ).

[2022-10-18 03:18] ejini6969 commented on #152
Sorry about that! I too did not notice the different solutions that users can get if the tests were adjusted to be more performance-wise! Then, it might be worth to stay and be fixed sooner or later.

Only applicable to old katas which cannot be sent back to beta. I'm not sure if this one is part of that category, anyhow it's not relevant now in the current context!

[2022-10-19 22:27] Chrono79 commented on #99
I've found a problem, for example in this kata the function is typed: [Sum Arrays](https://www.codewars.com/kata/53dc54212259ed3d4f00071c/php) when comparing against 0 it failed because the current solutions returned a float. I've already changed that single test to use assertEquals.

But in this other kata: [Calculate average](https://www.codewars.com/kata/57a2013acf1fa5bfc4000921/php) there are

[2022-10-21 10:37] hobovsky commented on #99
Would it be possible to fix the translation in a way so it does not expect mixed output types anymore?  Translation with mixed input and output types are a PITA anyway and in many cases they are just an unnecessary nuisance rather than an actual value.

[2022-10-21 12:07] pete-garvin-bp commented on #155
Hey all,

General question about this whole de-duplication process... Isn't some degree of repetition integral to learning? Especially at the beginner / 8kyu level? I certainly know it helped when I was beginning

[2022-10-21 13:14] Chrono79 commented on #99
I could make all the tests expect a float and add the type to the initial code too to make it clear. But this would render invalid a lot of solutions, is that ok? But, there is also another problem, it says "empty array should return 0", but it should be 0.0 if a float is expected, now it's not even tested.

Ok, for Calculate average, added the function's type, changed tests to expect a float and

[2022-11-05 19:43] hobovsky opened #161 "Disable JavaScript translation of "Adding Big Numbers""
JavaScript translation of [Adding Big Numbers](https://www.codewars.com/kata/525f4206b73515bffb000b21) is stuck in Node 8, and it's not suitable for Node 14 because of native support for big integers. JavaScript is not a suitable language for this kata.

[2022-11-06 23:22] hobovsky opened #162 "Deduplicate - Generate array of integers of certain length"
From #39

Inputs are valid unless specified otherwise.
Notation is: `[x...y)` for `x` inclusive, `y` exclusive.
`start` is less than `end` in almost all kata, unless specified otherwise.
All kata ask for a filled array/list, no kata asks explicitly for lazy generators.

1. [Filling an array (part 1)](https://www.codewars.com/kata/571d42206414b103dc0006a1)
* `[0...n)`, param is optional
* 8 kyu
* 8

[2022-11-06 23:38] hobovsky commented on #162
This is a big list. I think there's also some attention necessary, because all kata are aimed at beginners, and some variety of the tasks could be good to have. Actual tasks span across more than one aspect (fixed step vs. variable step, ascending vs. descending vs. variable direction, inclusive vs. exclusive bounds), so it can be difficult to decide exactly what is a duplicate and what is not. An

[2022-11-07 01:47] ejini6969 commented on #162
Retire
1st  (being dup of 3. && having optional parameter requirement which is hard to maintain)
2nd (being dup of 3. , language updates required && over-ranked at 7kyu)
4th (being dup of 3. && series is non-existent)
5th (being dup of 3. despite requires bug-fix on incremental / decremental statement which can be directly copied from many katas)
9th (being dup of 11. && over-ranked at 7kyu)
10th

[2022-11-07 12:12] JohanWiltink commented on #162
7 kyu is not overranked in all languages. E.g. in Javascript, 8 kyu is underranked.

[2022-11-07 19:23] KayleighWasTaken commented on #162
Retire 1, 2, 4 - (Near) direct dupes of 3.
Retire 5 - Dupe of 3 and the bug fixing aspect isn't compelling enough to keep in my opinion.
Retire 6 - Couldn't make it through the entirety of the Zizo's attempt at obfuscating the task with that description.
Retire 8 - Direct dupe for 7 with much lower completions and language count.
Retire 9, 10 - Direct dupes of 11 but with lower completion and lang

[2022-11-08 13:53] hobovsky opened #163 "Deduplicate - Output n highest values in a list"
From #39

1. [Largest Elements](https://www.codewars.com/kata/53d32bea2f2a21f666000256)
* Return `n` largest numbers sorted ascending.
* 7kyu
* 91% with ~5.5k completions
* 3 pending issues
* 5 languages, 2 pending translations
* Published Jul 2014, author active

2. [Return Two Highest Values in List](https://www.codewars.com/kata/57ab3c09bb994429df000a4a)
* return 2 highest values, in descending

[2022-11-08 13:58] hobovsky commented on #163
I have totally no idea which one to keep, and which one to retire. Every of these has something valuable for its level:
- Kata 1. is the most generic with its parameter `n`
- Kata 2. is nice because it requires research on filtering distinct values, and sorting in a reverse direction. Too bad its tests don't really deliver.
- Kata 3. has many languages and is most complete. I think I would like to

[2022-11-08 14:10] ejini6969 commented on #163
I prefer to keep 3 due to most languages, higher completion and being the oldest! I don't see how it differs from 2 (since it only requires swapping between the two elements of the final list) and 1 (since the slicing parameter is changed from `2` to `n`, or the upper boundary is changed for languages that do not have such built-ins -> in which this has already been implemented and asked in other

[2022-11-08 17:21] KayleighWasTaken commented on #163
I can't decide if 2 is underranked or 1&3 are overranked.

Keeping 3 is the most logical choice due to completeness, though if we disregard that I think that 1 and 2 are both better tasks.

[2022-11-08 17:36] benjaminzwhite commented on #162
I agree with both ejini + Kayleigh "consensus" on:

- **keep:** 3 out of the set {1,2,3,4}, 11, 14

- **retire:** {1,2,4}, 5, 9, 10

6 is in principle "interesting/different" but strong agree with Kayleigh on the Zizo description problem (if you rewrite the entire description, you'd presumably have to rewrite the others in the linked series also...)

No strong opinions on the others, but I'd tend

[2022-11-08 18:07] monadius commented on #163
2 is different from 1 and 3 (especially in C). 3 has many languages and it provides a good opportunity for beginners to learn about a linear algorithm for solving this task. 1 is a generalized version of 3.

Keep 2 and 3. 1 may be retired because it can be solved in the same way as 3 (with sorting).

[2022-11-08 21:30] #156 closed, assigned to kazk

[2022-11-08 21:31] #155 closed, assigned to kazk

[2022-11-08 21:33] #157 closed, assigned to kazk

[2022-11-09 01:31] EloiseRosen commented on #162
my votes:
1-4: keep 3, retire the others
5: keep
6: keep
7-8: retire 7, keep 8
9-11: keep 11, retire the others
12, 14: keep 12, retire 14
13: retire

[2022-11-09 10:21] hobovsky opened #164 "Deduplicate - add spaces between each characters"
From #39

1. [V A P O R C O D E](https://www.codewars.com/kata/5966eeb31b229e44eb00007a)
* Spaces in input should be skipped
* 7kyu
* 92% with ~9k completions
* No pending issues
* 16 languages, 3 pending translations (8 unique from 2.)
* Published Jul 2017, author inactive

2. [Spacify](https://www.codewars.com/kata/57f8ee485cae443c4d000127)
* 7kyu
* Input spaces are treated as regular characters

[2022-11-09 10:24] hobovsky commented on #164
Maybe the aspect of handling spaces makes the kata sufficiently different for 7 kyu tasks, but I still think they are very similar. Additionally, I think that one additional simple condition in 1. makes the rank more suitable. I think that 1. can be kept as more interesting, and 2. can be retired as a less interesting/duplicate.

[2022-11-09 10:55] ejini6969 commented on #164
Agree to keep 1 and retire 2 due to above reason && author for 2 has already long gone!

[2022-11-09 17:31] hobovsky opened #165 "Deduplicate - euclidean distance"
From #39

1. [Length of the line segment](https://www.codewars.com/kata/55f1786c296de4952f000014)
* Result is a formatted string, input is an array of arrays
* 7kyu
* 88% with 1150 completions
* No pending issues, but there are some posts mentioning issues with trailing zeros
* 3 languages, no pending translations
* Published Sep 2015, author inactive

2. [Distance Between 2 Points on a Cartesian

[2022-11-09 17:38] hobovsky commented on #165
Noe: I did not solve all of above kata in every available language, so quality of tests in languages I haven't trained might differ from what I saw in languages I trained.

All of the kata are very similar, differences are limited to extracting coords from inputs and rounding the result.

Kata 1. and 2. are IMO not worth keeping if only due to wonky handling of results.
Kata 3. and 4. are technica

[2022-11-09 19:10] JohanWiltink commented on #165
Kill everything that uses rounding, either by solver or internally. Keep 4 only.

Fixing tests is almost as much work as fully transplanting a language, so amount of languages works _against_ 3 here.

[2022-11-09 19:46] monadius commented on #165
Keep 3 only: It has more languages and 8 kyu is a better rank for this problem. Moreover, 4 has some issues with the C# translation where a custom input type is used.

It is easy to fix rounding issues in 3 (only Python and Ruby should be fixed).

[2022-11-09 19:50] JohanWiltink commented on #165
JavaScript would definitely need fixing in 3.

[2022-11-10 14:24] hobovsky opened #166 "Deduplicate - check if left side of an array is equal to right side"
From #39

Both kata allow for O(n^2) solutions and treat "left to the beginning" or "right to the end" as having sum of 0.

1. [Peak array index](https://www.codewars.com/kata/5a61a846cadebf9738000076)
* 7kyu
* 93% with ~2.6k completions
* No pending issues
* 8 languages, 1 pending translation (COBOL not covered by 2.)
* Published Jan 2018, author active

2. [Equal Sides Of An Array](https://www.c

[2022-11-10 14:28] hobovsky commented on #166
Both kata seem to be exact duplicates, at least in Python. I did not verify consistency between translations w.r.t. required complexity, generation of special cases (multiple valid answers), or edge cases.

I vote to keep 2. as more complete, _and_ harden it to require O(n) solutions only. Even when not hardened, 1. is still identical and, IMO, not necessary.

[2022-11-10 14:44] Kacarott commented on #166
I agree with removing 1, keeping 2.

[2022-11-13 12:21] heroicfun commented on #162
my votes:
1-4, retire 1,2,4
3 keep
5, 6, 7 keep
8 retire, because it has less completions and covered languages(in 7, its count is 25, vs 5 on 8)
9-10 retire
11 keep
12 or 13: keep, retire 14

[2022-11-16 19:51] bestwebua commented on #86
@kazk, @Blind4Basics  Which one of these katas is older?

[2022-11-16 20:38] JohanWiltink commented on #86
If you scroll down on the respective description pages, you can see the publication date yourself. It's in the `STATS` block.

[2022-11-16 20:44] bestwebua commented on #86
Thanks, @JohanWiltink!

[2022-11-20 20:52] hobovsky opened #167 "Kata trial - Remove Zeros"
[Remove Zeros](https://www.codewars.com/kata/52aae14aa7fd03d57400058f)

The kata attempts to impose restrictions which are impossible to enforce. Restricted methods are not blocked, the requirement of "no temporary arrays or objects" is not checked at all.
The kata is also very difficult to translate but this does not stop users from posting translations into languages which make the restrictions

[2022-11-20 21:32] JohanWiltink commented on #167
The restrictions are unenforceable, and without the restrictions it's a duplicate. Retire with prejudice.

[2022-11-21 21:55] #166 closed, assigned to kazk

[2022-11-21 23:11] 4500zenja1 commented on #167
Yup, that kata has come up later than MZTTE, plus no restrictions => retire in favor of MZTTE, especially cuz the latter one has more languages and solutions but less restrictions.

[2022-11-29 23:16] #167 closed, assigned to kazk